@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Righteous&display=swap');

html, body {
    background-color: rgb(248 250 252);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Comfortaa', cursive;
    width: 100%;
    margin: 0;
}

/* utility properties */
.righteous_font { font-family: 'Righteous', cursive; }

.w-full {
    width: 100%;
}

/* custom properties */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: #B7F5B4;
    padding: 1rem;
}

.logo, .hamburger_menu {
    max-width: 60px;
}

.hamburger_menu { opacity: 40%; }
.hamburger_menu:hover { cursor: pointer; }