html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  background-color: #f5f6f7;
}

header {
  text-align: center;
  color: rgb(40, 92, 156);
  margin-bottom: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: rgb(40, 92, 156);
  color: #fff;
  margin-top: 2rem;
}

main {
  padding: 1rem;
}

main .cards {
  background-color:rgba(40, 92, 156, 0.059);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: .5rem;
  overflow: hidden;
  padding: .5rem;
  max-width: 1200px;
}

.cards > div {
  padding: .5rem;
  background-color: rgba(40, 92, 156, 0.19);
  border-radius: .5rem;
  text-align: center;
}

.cards div > img {
  width: 100%;
  max-width: 12rem;
  border-radius: .5rem;
  box-shadow: 1px 10px 17px -11px rgba(105,105,105,0.75);
  -webkit-box-shadow: 1px 10px 17px -11px rgba(105,105,105,0.75);
  -moz-box-shadow: 1px 10px 17px -11px rgba(105,105,105,0.75);
}