@media (min-width: 32.5em) {
  body {
    margin: 1rem auto;
    padding: 0 1rem;
    max-width: 60rem;
  }

  header ul {
    display: flex;
  }

  header ul li {
    display: block;
  }

  header ul li:nth-child(1) {
    display: none;
  }

  header ul li {
    flex: 1 1 100%;
  }

  header, footer {
    border-radius: 10px;
  }
}
