@media only screen and (min-width: 60rem) {
    #hamburgerBtn {
        display: none;
    }

    #primaryNav {
        display: flex;
    }

    main {
        display: grid;
        width: 96%;
        column-gap: 1rem;
        row-gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 1rem auto;
    }

    main section {
        margin: 0;
        width: auto;
    }

    section:nth-child(1) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3
    }

    section:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        width: auto;
    }

    section:nth-child(3) {
        grid-column-start: 1;
        grid-row-start: 2;
        width: auto;
    }

    section:nth-child(4) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    section:nth-child(6) {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .spotlight {
        display: flex;
        flex-direction: column!important;
        grid-column-start: 4;
        grid-row-start: 1;
        grid-row-end: 4;
        width: auto;
        padding: .5rem;
    }

    .spotlight div {
        width: auto;
        margin: 0;
    }

    .spotlight div:nth-child(3){
        display: block;
    }
    section:nth-child(6) {
        grid-column-start: 1;
        grid-row-start: 3;
    } */
}