html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  background-color: #f5f6f7;
}

header {
  background-color: #25A55F;
  color: #fff;
  padding: 1rem
}

.information {
  display: flex;
  justify-content: space-between;
}

.information div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 13rem;
  margin: 0 .5rem;
}

.information div > img {
  width: 100%;
}

.information img {
  max-width: 6rem;
  padding: 0.2rem 1rem;
}

.information span:nth-child(2){
  font-size: 1rem;
  white-space: nowrap;
}

header .date_time {
  border: 1px solid #fff;
  padding: 1rem;
  text-align: center;
}

#hamburgerBtn {
  margin: 0 1rem;
  border: 0;
  background-color: transparent;
  height: auto;
  cursor: pointer;
}

.open {
  display: block;
}

#hamburgerBtn img {
  width: 4rem;
}

header nav {
  display: none;
}

header nav ul {
  list-style-type: none;
}

#primaryNav ul li {
  text-align: center;
}

#primaryNav ul li a {
  display: block;
    padding: 1rem;
  color: #fff;
  text-decoration: none;
}