html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  background-color: #f5f6f7;
}

header {
  background-color: #25A55F;
  padding: .4rem;
  color: #fff;
}

header div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div.logo {
  display: flex;
  align-items: center;
}
header div img {
  max-width: 4rem;
  padding-right: .6rem;
}

div.social {
  display: block;
}

.logo h1 {
  margin: 0;
}

nav ul.open {
    display: block;
}

header ul {
  list-style-type: none;
  padding: 0;
  display: none;
}

header ul li a {
  display: block;
  padding: .8rem 2vw;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.logo h1 span:nth-child(1) {
  font-size: 1.5rem;
  display: block;
}
.logo h1 span:nth-child(2) {
  font-size: 1rem;
  display: block;
}

.fa {
  padding: 10px;
  font-size: 15px!important;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.text-primary-color {
    color: #2F4F4F;
}

#hamburgerBtn {
    margin: -0.4rem 2vw 0 2vw;
    background-color: transparent;
    border: none;
    font-size: 3rem;
    color: #fff;
}

#hamburgerBtn:hover {
  background-color: rgba(0, 0, 0, .2)
}

div.time {
  padding: 1rem;
  margin: 1rem 2vw;
  background-color: #346473;
  text-align: center;
}

main {
  margin: .8rem .5rem;
  padding: .4rem;
}

main section {
  border: 1px solid #2F4F4F;
  height: auto;
  min-height: 16vh;
  margin: .8rem 0;
  padding: 0 .8rem;
}

.spotlight div{
  border: 1px solid #2F4F4F;
  margin: 1rem 0;
  min-height: 16vh;
  padding: 0 .8rem;
}

footer {
  background-color: #346473;
  text-align: center;
  padding: 1rem 0;
  color: #fff;
}

footer img {
  max-width: 25vw;
}

.logo img {
  width: 100%;;
}