@media only screen and (min-width: 50rem) {
    header nav {
        width: auto;
    }

    nav ul {
        display: flex;
    }

    header .social_container {
        order: 4;
    }

    header #hamburgerBtn {
        order: 5;
    }

    .hero {
        order: 1;
    }

    .new_release {
        order: 2;
    }

    .spotlight {
        order: 3;
        flex-direction: row!important;
        justify-content: space-evenly;
    }

    .spotlight div {
        width: 100%;
        margin: 0 .5rem;
        padding: 1rem;
    }

    .join {
        display: flex;
        align-items: center;
        order: 4;
        position: relative;
    }



    .event {
        order: 6;
        width: 55%;
        flex-shrink: 1;
    }

    .weather {
        order: 7;
        width: 28%;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    footer .logo_container {
        flex-direction: row;
        text-align: left;
        width: 50%;
    }

    footer .service {
        width: 50%;
    }
    footer .my_info {
        width: 100%;
    }
    hr {
        width: 100%;;
    }

    footer .logo {
        max-width: 6rem;
        margin: 1rem;
    }

    footer .my_info p {
        padding: .5rem;
        border-right: 2px solid darkgreen;
    }

    footer .my_info p:nth-child(4) {
        border-right: 0;
    }

    footer .my_info {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin: auto;
        justify-content: space-evenly;
    }
}