@media only screen and (min-width: 820px) {
    header nav {
        width: auto;
    }

    nav ul {
        display: flex;
    }

    header .social_container {
        order: 4;
    }

    header #hamburgerBtn {
        order: 5;
    }

}