@media screen and (min-width: 780px) {
    .header {
        display: block;
        position: relative;
    }
    .header .logo { display: inline-block; }
    .header > p {
        display: inline-block;
        position: absolute;
        top: 2rem;
        padding-left: 1rem;
    }
    .hamburgerBtn { display: none; }

    nav {
        display: block;
        position: absolute;
        top: .3rem;
        right: 0;
        max-width: 400px;
        margin: 0 1rem 0 auto;
    }

    .intro {
        display: flex;
        align-items: center;
        max-width: 1920px;
        justify-content: stretch;
        margin: auto;
    }

    .intro div {
        width: 100%;
    }

    .intro .hero {
        height: 100%;
    }

    .discovery {
        display:block;
        max-width: 40rem;
        margin: 2rem auto;
        text-align: center;
        padding: 1rem;
    }

    .catalog {
        padding: 1rem;
        max-width: 1920px;
        margin: 2rem auto;
    }

    .catalog_grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .areaInfo {
        display: flex;
        gap: 1rem;
        max-width: 1920px;
        margin:auto;
        align-items: center;
    }

    .areaInfo div {
        padding: 1rem;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer > * {
        width: 100%;
    }

    /* fresh page */
    .fresh {
        display: flex;
        align-items: center;
        gap: 2rem;
        max-width: 80rem;
        margin: 2rem auto;
        border-radius: 1rem;
        overflow: hidden;
    }

    .fresh div {
        width: 100%;
    }

    .aboutUs .story{
        max-width: 60rem;
        display: flex;
        gap: 1rem;
        margin: 2rem auto;
        align-items: center;
    }

    .aboutUs .story > div {
        width: 100%;
    }

    .aboutUs .map {
        display: flex;
        max-width: 60rem;
        align-items: center;
        margin: 0 auto 2rem auto;
        justify-content: space-evenly;
    }

    .aboutUs .map > * {
        width: 100%;
    }
}