html, body {
    background-color: #f5f6f7;
    font-family: 'Lato', sans-serif;
}

/* Header Section */
header {
    background-color: #25A55F;
    color: white;
    text-align: center;
    padding: 1rem;
}
header img {
    width: 100%;
    max-width: 10rem;
    border-radius: 50%;
    margin:1rem;
    box-shadow: 2px 6px 18px -1px rgba(0,0,0,0.43);
}

header h3 {
    font-size: 2rem;
    margin:1rem;
}
/* =================================== */

/* main section */
main {
    padding: 1rem;
    color: #36383F;
}

main a {
    color:#346473;
    font-style: italic;
    font-weight: bold;
}

main #courseList li {
    margin: .5rem;
}
/* =================================== */

/* Footer Section */
footer {
    background-color: #346473;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
}

footer #timestamp {
    color: #E9F679;
}
/* =================================== */

/* Misc */
.singleLine {
    white-space: nowrap;
}
/* =================================== */