html, body {
    background-color: #f5f6f7;
    font-family: 'Lato', sans-serif;
}

/* Header Section */
header {
    background-color: #D45113;
    color: white;
    text-align: center;
    padding: 1rem;
}
header img {
    width: 100%;
    max-width: 10rem;
    border-radius: 50%;
    margin:1rem;
}

header h3 {
    font-size: 2rem;
    margin:1rem;
}
/* =================================== */

/* main section */
main {
    padding: 1rem;
    color: #36383F;
}

main a {
    color:#813405;
    font-style: italic;
    font-weight: bold;
}

main #courseList li {
    margin: .5rem;
}
/* =================================== */

/* Footer Section */
footer {
    background-color: #813405;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
}

footer #timestamp {
    color: #F4E76E;
}
/* =================================== */

/* Misc */
.singleLine {
    white-space: nowrap;
}
/* =================================== */